#Coker, #DiChiara, #Maxwell, #Simmons {
	font-size: 42px;
}


div h1{
	font-size: 64px;
	text-transform: uppercase;
	font-family: "Berlin Sans FB Demi", "Bernard MT Condensed", Georgia, Impact;
}

html div, div h2, div h3{
	font-family: "Berlin Sans FB Demi", "Bernard MT Condensed", Georgia, Impact;
}

div p {
	color: #F60; font-size: 28px;
}

div p.skills {
	font-size: 22px;
}

.small {
	font-size: 12px;
}

.sponsor{
	display: inline-block;
}

img.big{
	height: auto;
	width: 60%;
}

div.wow, div.wow p {
	background-color: #F60;
	color: black;
}

table{
	font-family: "Berlin Sans FB Demi", "Bernard MT Condensed", Georgia, Impact;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

	.menu{
		text-align: center;
		width: 50%;
	}
	.menuword{
		width: 15%;
		color: #F60;
	}

	.menuwordselect {
		width: 15%;
		font-weight: bolder;
		font-style: italic;
		color: #F60;
	}

	.menupipe{
		width: 1%;
	}

#knowledge h2{
	font-weight: bold;
	font-size: 32px;
}

#knowledge p{
	color: white;
}

a.w3-bar-item {
	color: #F60;
}

footer p{
	color: #F60;
}

.topimg{
	width: 50%;
	margin: 15px;
}

.toobig{
	width: 30%;
	margin: 15px;
}